body {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    color: white;
    background-color:black;
}

h1 {
    font-family: 'Rye', cursive;
    /* font-weight: bold; */
    font-size: 44px;
    margin-left: -40px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table {
    flex-basis: 840px;
    background-color: #277714;
    border: 5px solid #dcdcdc;
    border-radius: 15px;
    /* padding: 50px 0px; */
    /* margin: 30px auto; */
    max-width: 840px;
    min-width: 600px;
    min-height: 500px;
    position: relative;
}

button {
    background-color: rgb(216, 45, 45);
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 14px;
    margin: 5px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: bold;
    transition: opacity 2s;
}

button:hover{
    background-color: white;
    color:rgb(216, 45, 45);
    cursor: grab; 
}

.buttons {
    text-align: center;
    margin-bottom: 15px;
    position: relative;
}

.fade-out {
    visibility: visible;
    /* opacity: 1;
    transition: opacity 2s linear; */
}

.fade-in {
    /* visibility: hidden; */
    /* opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear; */
}

.card {
    width: 100px;
    padding: 10px;
    display: inline-block;
    height: 120px;
}

.card img{
    width: 100%;
}

.player-cards {
    padding-top: 10px;
    height: 200px;
}

.dealer-cards {
    height: 200px;

}

.player-total{
    font-family: 'Rye', cursive;
    color: white;
    padding: 3px;
    font-size: 18pt;
    margin-top: 15px;
}

.dealer-total{
    font-family: 'Rye', cursive;
    color: white;
    padding: 3px;
    font-size: 18pt;
    margin-bottom: 10px;
}

.message {
    font-weight: bold;
    font-size: 18pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

.dealer-final{
    font-family: 'Fugaz One', cursive;
    font-size: 12pt;
    text-align: center;
    transform: translateY(-75px);
}

.player-final {
    font-family: 'Fugaz One', cursive;
    font-size: 12pt;
    text-align: center;
    transform: translateY(-70px);
}

img {
    width: 100px;
}

.heart{
    width: 100px;
    /* position: relative; */
}

.diamond {
    width: 100px;
    /* position: relative; */
}


 