body {
    font-family: 'Pacifico', cursive;
    background-color: rgb(201, 177, 218);
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: rgb(255, 230, 5);
    font-size: 36pt;
    margin-top: -3px;
    margin-bottom: 2px;
}

button {
    background-color: white;
    width: 80px;
    height: 80px;
    color: #ffe605;
    font-family: 'Pacifico', cursive;
    font-size: 18pt;
    border-radius: 5px;
    margin: 3px;
    outline: none;
    border: none;
}

button:hover {
    background-color: rgb(255, 230, 5);
    color: white;
}

.alert {
    color: white;
    width: 400px;
    height: 75px;
    display: inline-block;
    margin-top: 6px;
    font-size: 18pt;
}

.hidden {
    /* display: none !important; this also isn't working, it's always displayed even though my syntax for adding this class was correct... */
}

.start-again {
    display: inline-block; /*for some reason i can't get things to center and be "block" display in this document... */
    width: 150px;
    height: 50px;
    font-size: 18px;
}